
.body{

    font-family: 'Oswald', sans-serif;
    
    font-family: 'Roboto Slab', serif;
    
    font-family: 'Merriweather', serif;
    
    font-family: 'Playfair Display', serif;
    
    font-family: 'PT Serif', serif;
    
    font-family: 'Nanum Myeongjo', serif;
}

