{% include "include/include.html.twig" %}


{% block title %}{% endblock %}

{% block body %}

            <h4 class="panierTitre">
                <small>Le totale à payer {{total}} €</small></h4>
  
<div class="container cp-1">
       
        <div class="row p-5">
            <!-- concept de variabme twig -->
            {% for item in items %} 
             <div class="col-md-3">
                 <div class="card bg-light mb-3">
                     <div class="card-header text-center">
                         <h4 class="panierTitre">
                            <strong>{{ item.produit.titre }}</strong></h4>
                     </div>
                     <a href="{{ path ('produit_detail', {'id' : item.produit.id }) }}">
                         <img src="{{ item.produit.image }}" alt="Image de produit"
                         class="imagedePanier"/>                            
                      <hr>
                     </a>
                     <div class="card-body">
     
                         <h5 class="card-title" 
                         id="produiPrix">{{ item.produit.prix | number_format(2, '.', ',') }}€</h5>
                       
                     </div>
                 </div>
             </div>
     
             {% endfor %}
            </div>
     </div>
     
<div class="container">
    <div class="bg-light p-3">
        <h2 class="text-center" >Votre panier</h2>
    </div>

    {% if items | length > 0 %} 

       {{ form_start(formpanier) }}
    <table class="table">
        <thead>
            <tr>
                <th class="tableau">Produit</th>
                <th class="tableau">Prix</th>
                <th class="tableau">Quantité</th>
                <th class="tableau">Total</th>
                <th class="tableau"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td class="tableau">{{ item.produit.titre }}</td>
                <td class="tableau">{{ item.produit.prix }} €</td>
                <td class="tableau">{{ item.quantity }}</td>
                <td class="tableau">{{ item.produit.prix * item.quantity }} €</td>
                <td>
                    
                    <a href="{{ path('cart_remove', {'id': item.produit.id}) }}"
                     class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                        
                    </td>
                    
                    
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right tableau">Total à payer : </td>
                    <td class="tableau">
                    {{ total }} €
                    </td>               

                </tr>
                <td>

                    <a href="{{path ('paiement_index') }}" class="btn btn" style="background-color: #1FA3AE; color: white;">Valider la commande</a>
                </td>
            </tfoot>
        </table>     
        {% else %}
        <p>Le panier est vide !</p>
        {% endif %}
        

    </div>

 
{% endblock %}
{% include "admin/includFooter.html.twig" %}