{% extends "base.html.twig" %}
{% block title %}Fit Immersion{% endblock %}
  

{% block body %}

<div class="accueil-grancontenu">
<div class="accueil-ensembleimage container-fluid">
  <div class="accueil-colon">

    <p class="accueil-text">Entrainements professionnels</p>
    <img src={{ asset('image/31942258_1029046253568_n.jpg')}} alt="Femme avec un casque" class="accueil-imageRondGrand"/>
  </div>

  <div class="accueil-colon">

    <p class="accueil-text">Capteur de vitesse</p>
    <img src={{ asset('image/exemplfemm_n.jpg')}} alt="Femme avec un casque" class="accueil-imageRondGrand" />
  </div>

  <div class="accueil-colon">

    <p class="accueil-text">Capteur de fréquence cardiaque</p>
    <img src={{ asset('image/IMG_20181117_173006.jpg')}} alt="Femme avec un casque"  class="accueil-imageRondGrand"/>
  </div>
  
  <div class="accueil-colon">
    <p class="accueil-text">Parcours Immersifs</p>
<img src={{ asset('image/caskexampl_n.jpg')}} alt="Homme avec un casque"  class="accueil-imageRondGrand"/>
 </div>
    
 </div>
</div>


<div class="container" id="contennnir">
  <!--
  premier titre et article de contenu Reach out and let your mind explose
  -->
  <div>
    <h1>Fit Immersion-SPORT VR</h1>
    <p>Kit d'entraînement de réalité virtuelle pour exercice de vélo en salle - Immersion dans un environnement 
      virtuel à 360 ° - Programme 
      d'entraînement personnalisé basé sur le suivi en temps réel de la vitesse et de la fréquence cardiaque<br/>
      Fit Immersion c’est une Start up Française fondée en 2017 à Montpellier qui développe et commercialise des applications et des équipements de réalité virtuelle. 
      Il s’agit d’une solution d’entrainement sportif en Réalité virtuelle compatible avec les vélos d’entrainement, vélos elliptiques et home trains.  
      Grâce aux vidéos 360° qui permettent de se déplacer dans un environnement virtuel mais avec un niveau d’immersion incomparable. 
      Cela permet de se téléporter sur des routes ou des chemins, à travers différents endroits du monde. 
      Le projet démarré en 2015 par le fondateur Dimitri Prikhodko il a commencé par développer une maquette sur Oculus Rift. Ensuite il a constaté que ce modèle n’est pas adapté pour faire du sport, pour des raisons techniques.
      Finalement il a développé son propre modèle de lunette VR fonctionne avec un smartphone. Après un an il a réussi de mettre en place un caque autonome optimisé pour le sport avec un capteur de fréquence cardiaque intégré et ne comportant aucune partie en issu.
      </p>

  </div>


  

  <div class="firstArticle-zon">
    <div class="img-reponsive">
      <img src="{{ asset('image/IMG_0555.JPG')}}" 
      />
    </div>

    <div class="firstArticle-child">
      <h2 class="text-articl">On a tous besoin d'une source de motivation pour s'entrainer et 
        se rendre en main.
      </h2>
      <p>kit de réalité virtuelle compatible avec tout
          vélo d’exercice, appareil elliptique ou entraîneur turbo.
           Nous vous faisons voyager à 360 ° lors de votre 
           séance de cardio! et qui vous permet de transformer votre salle de sport en VR.
         
      </p>
      <hr>
      
    </div>
  </div>



    <div class="secondeArticle-zon">
      <div class="firstArticle-child-revers">

        <h2 class="text-articl">La motivation vous fait débuter, mais l'habitude
          qui vous fait continuer.
        </h2>
        <p><strong>Fit Immersion</strong>qui fait voyager en 360° sur les plus belles 
          routes du monde sur vélo d'appartement
           grâce à la réalité virtuelle. L'édition Premium est tout ce que vous avez 
            besoin pour une expérience de réalité virtuelle impressionnante
            à la maison.
  
          </p>
        <hr>
       
      </div>
      <div class="img-reponsive">
        <img src="{{ asset('image/DSC_1437.JPG')}}" 
        id="ima-rever" />
      </div>

  
    </div>
  
</div>



<!--seconde article-->
  <div class="canister">

    <div class="inside-canister">

      <div class="canister-child">
        <img src="image/IMG_0952.jpg" alt="" class="canister-picture"/>
        <div class="canister-section">
          <h4>Compatibilité</h4>   
          <p>Ces kits sont compatibles avec les vélos d’exercice, les vélos de spin, les vélos d’exercice,
            les vélos elliptiques et les entraîneurs Smart Turbo. La sangle sport equipe notre casque.
          </p>
        </div>

      </div>
      
      
      <div class="canister-child">
        <img src="image/IMG_20180426_201332.jpg" alt="" class="canister-picture" />
        <div class="canister-section">
          <h4>Confort supplémentaire</h4>
          <p>Les kits sont fabriqués à partir de plastique de qualité, à la fois durable et léger. 
            La légèreté est essentielle pour nous, afin de vous offrir le plus de confort possible pendant votre entraînement.
          </p>
        </div>
      </div>
      
      
      <div class="canister-child">
        <img src="image/DSC_1334crop.jpg" alt="" class="canister-picture" />
        <div class="canister-section">
          <h4>Opération facile</h4>
          <p>Il suffit de télécharger l'application, installer votre smartphone Android à l'intérieur du casque,
            régler le capteur de vitesse sans fil sur la pédale et commencer votre voyage dans le monde.
          </p>
        </div>
      </div>
    
 
      
    </div>
    
  </div>
    

{% endblock %}