{% include "include/include.html.twig" %}
{% block title %}{% endblock %}


{% block body %}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

  </ol>
  <div class="carousel-inner">


    <div class="carousel-item active">
      <img src="{{ asset('image/virtuel-reality_n.jpg')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('image/maskloskip_n.jpg')}}" class="d-block w-100" alt="...">
    </div>


  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div style="background-color: #F0F2EB; padding: 20px;">


  <div class="aboutus">
    <div>
      <img src="{{ asset('image/apropodenous.jpg')}}" alt={{ asset('image/Vibrasolys.png')}}" class="img-fluid" id="aboutusimage" />

    </div>



    <div class="aboutus-text">
      <h1>PERFORM VR</h1>
     <div>
        Startup française fondée en 2017 à Montpellier qui développe et commercialise des applications et des
        équipements de réalité virtuelle.<br />
        Inspiré du Google Carboard et lassé de l’ambiance terne de la salle de sport,
        l’ingénieur et expert en algorithmes Dimitri a commencé à travailler sur ce que sera deux ans plus tard Fit
        Immersion. Il est dès lors,
        imprégné par le désir de rendre la pratique du fitness motivante ainsi que de se rapprocher des lieux et mondes
        qu’il aime.<br />
        Il est rejoint par plusieurs personnes qui apportent leur expertise afin de mener à bien ce projet.

      </div>

    </div>

  </div>
  <div>

    <div><img src="" alt="" /></div>
    <div><img src="" alt="" /></div>
    <div><img src="" alt="" /></div>

  </div>
  <hr>


  <div class="container">
    <h2 id="partrners">Partenaires</h2>
    <div class="partners">
      
      <img src="{{ asset('image/Vibrasolys.png')}}" alt="logo" />
      <img src="{{ asset('image/logo-acropole.jpg')}}" alt="logo" />
      <img src="{{ asset('image/logo-monster-bike.png')}}" alt="logo"/>
      <img src="{{ asset('image/lenvr_logo-e1510828125941.jpg')}}" alt="logo" />
      
    </div>
    </div>
<hr>
    <div class="proto">
      <div class="proto-colomn">

        <img src="{{ asset('image/weight-1-150x150-circle.png')}}" alt="" class="img-fluid rond" />
        <h4>Poids minimal</h4>
        <hr class="lin">
        <p class="proto-text">Lentilles Sphériques de 37mm
          Environ 200g<br/> 
            L'un des plus légers cardboard</p>
      </div>

      <div class="proto-colomn">
        
          <img src="{{ asset('image/glasses-compat-1-150x150-circle.png')}}" alt="" class="img-fluid rond" >
          <h4>Compatibilité avec des lunettes</h4>
          <hr class="lin">
          <p class="proto-text">Adaptation à la vue en fonction <br/>
            de l'écart inter-pupillaire</p>

      </div>

 

      <div class="proto-colomn">

        <img src="{{ asset('image/ipd-150x150-circle.png')}}" alt="" class="img-fluid rond" />
        <h4>Ajustable</h4>
        <hr class="lin">
        <p class="proto-text">Adaptation à la vue en fonction <br/>
          de l'écart inter-pupillaire</p>
      </div>
    </div>

    <div class="proto">
        <div class="proto-colomn">
            <img src="{{ asset('image/lens-2-150x150-circle.png')}}" alt="" class="img-fluid rond" />
            <h4>Lentilles</h4>
            <hr class="lin">
            <p class="proto-text">Lentilles Sphériques de 37mm
                Champ de vision large<br/>          
                Distorsion limitée</p>
          </div>
  
      <div class="proto-colomn">
        <img src="{{ asset('image/stylet-btn-150x150-circle.jpg')}}" alt="" class="img-fluid rond" >
        <h4>Bouton d'action</h4>
        <hr class="lin">
        <p class="proto-text">Confirmation / Menu / Pause. Basé sur un stylet tactile
          </p>
      </div>
      <div class="proto-colomn">

        <img src="{{ asset('image/coating-150x150-circle.png')}}" alt="" class="img-fluid rond" >
        <h4>Résistant à la transpiration</h4>
        <hr class="lin">
        <p class="proto-text">Simili-cuir nettoyable facilement</p>
      </div>
     
      </div>

</div>

{% include "include/footer.html.twig" %}
{% endblock %}