@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?m3snor');
    src:  url('fonts/icomoon.eot?m3snor#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?m3snor') format('truetype'),
      url('fonts/icomoon.woff?m3snor') format('woff'),
      url('fonts/icomoon.svg?m3snor#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    padding-left: 10px;
    color: white;
    
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

  
  .icon-like:before {
    content: "\e900";
  }
  .icon-cart:before {
    content: "\e93a";
  }
  
  .icon-p:before {
    content: "\e942";
    padding-right: 10px;
  }
  .icon-e:before {
    content: "\e945";
    padding-right: 10px;
  }
  .icon-l:before {
    content: "\e948";
    padding-right: 10px;
  }
  
  /*Social Media*/
  
  
  
  .icone{
    margin: 10px;
    padding: 20px;
    display: block;
  }
  .Liste {
    list-style: none;
    display: flex;
    flex-direction: row;

    margin-top: 10px;

    width: 400px;
   float: right;


  
  }
  .Liste li  {
    position: fixed;
    width: 50px;
    height: 50px;
    box-shadow: 0px 1px 3px rgba(0,0,0, .3);
    border-radius: 30%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color:rgb(252, 252, 252);
    /*#D9896C;*/
   background-color: rgba(186, 212, 161, 0.767);

  
  }
  
  .Liste li a {
    color: rgba(8, 8, 230, 0.932);
    font-size: 24px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
    
  
  
  }
  
  .Liste li:before {
   
    content: '';
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0%;
    display: inline-block;
    position: absolute;
    transition: .3s;
    
    
  }
  .Liste li:nth-child(1):before {
    background-color: #3b5998;
    
  }
  .Liste li:nth-child(2):before {
    background-color: #00aced;
  }
  .Liste li:nth-child(3):before {
    background: #d6249f;
    
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  .Liste li:nth-child(4):before {
    background-color: #DC4539;
  }
  .Liste li:hover:before{
    top: 0%;
  }
  
  