/*The header CSS*/
/* add margin, padding and font-size to the NavBar */

.navbar-dark .navbar-nav .active >
.nav-link, .navbar-dark .navbar-nav 
.nav-link.active, .navbar-dark .navbar-nav
.nav-link.show, .navbar-dark .navbar-nav .show > .nav-link{
    font-family: 'Jomolhari', serif;
    padding-left: 50px;
    margin-left: 10px;
    font-size: 17px;
    letter-spacing: 0.5px;
    
      
  }

/*add height and width to The logo image which has already been add in HTML
in the tag img*/

#imageLogo{
    height: 65px;

    margin-left: 40px;  
}

/*Change the color of my NavBar which has been already defined in bootstrap*/
.bg-primarry{
   /* background-color: #022E40 !important;*/
    background-color: rgba(73, 99, 105, 0.733);
    
}
.bgg{
    background-color: #022E40;

}

/*add color and style to the panier link */
#panier{
    margin: auto;
    font-size: 14px;
  /*  background-color: #548FCC;*/
    background-color: #A6ABAB;
    
}


/*la photo de panier*/
.imagePnier{

    padding: 10px 0px;
    background-image: url("../image/clouds.jpg");
    height: 520px;
    background-position: center;
    margin-top: 0px;
    background-size: cover;
    min-width: 500px;
}

.button{
    background-color: rgba(206, 226, 245, 0.4);
    box-shadow: 10px 10px 14px rgba(5, 5, 5, 0.555);
}





/*photo de produit*/
.resize{
   

    height: auto;
    width: 100%;

    
}

.resize{
    height: 520px;
    width: auto;
}





/*add in the top and the bottom a padding of 10px and in 
the left and right 0 I add a background image to the header */
.sections{
    margin: 0px;
    padding: 0px;
    background-image: url("../image/clouds.jpg");
  /*  background-image: url("../image/caaaasq - Copie.jpg");*/
    background-repeat:  no-repeat;
    background-position:  center;
    background-size:cover;
    height: 650px;
   
  
}


/*The title of the application that has a text shadow*/

#titlSection{
    margin-top: 80px;
    font-weight: bold;
    font-size: 50px;
    color:white;
    font-family: 'Jomolhari', serif;
    text-shadow: 1px 1px 1px black;
}

.paragSection{
    font-family: 'Jomolhari', serif;
    color: white;
    font-size: 24px;
    
}
.titrebutton{
    background-color: rgba(73, 99, 105, 0.733);
    cursor: pointer;
    
  
}
.titrebutton:hover{
    background-color: #D9C7B8;

}
.titrebutton a {
    font-family: 'Jomolhari', serif;
    color: white;
}
.titrebutton a:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}

  

/*the selector :nth-child() alow us to choose elements based on their 
position in a group of siblings*/
section :nth-child(n+3){
    background-color: #548FCC; 
    color: white;
    box-shadow: 10px 10px 14px rgba(5, 5, 5, 0.555);
    
}

/*The body CSS*/

#container{
    margin-top: 70px;
}

.firstArticle-zon{
    display: flex;
    flex-direction: row;
    margin: 100px;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display:-ms-flexbox;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
    margin-bottom: 30px;
  
}


.secondeArticle-zon{
    display: flex;
    flex-direction: row;
    margin: 100px;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    display:-ms-flexbox;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
    margin-bottom: 30px;
  
}

.img-reponsive img{
    width: 400px;
    height: 400px;
    box-shadow: 2px 0px 5px 5px rgb(61, 51, 51);
    -moz-box-shadow: 2px 0px 5px 5px rgb(61, 51, 51);
    -webkit-box-shadow: 2px 0px 5px 5px rgb(61, 51, 51);
   
    
    
}

.firstArticle-child{
    box-shadow: 6px -6px 5px 5px rgb(61, 51, 51);
    -moz-box-shadow: 6px -6px 5px 5px rgb(61, 51, 51);
    -webkit-box-shadow: 6px -6px 5px 5px rgb(61, 51, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 5px 0px 20px;
    width: 550px; 
 
}

.firstArticle-child .lien-articl{
    font-size: 17px;
    color: mediumblue;
    margin-left: 10px;
    padding-bottom: 5px;

}
.firstArticle-child-revers .lien-articl{
    font-size: 17px;
    color: mediumblue;
    margin-left: 10px;
   padding-bottom: 5px;
}

.firstArticle-child-revers{
    box-shadow: -6px -6px 5px 7px rgb(61, 51, 51);
    -moz-box-shadow: -6px -6px 5px 7px rgb(61, 51, 51);
    -webkit-box-shadow: -6px -6px 5px 7px rgb(61, 51, 51);
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0px 20px;
    width: 550px; 
  
}
#ima-rever{
    box-shadow: -2px 0px 5px 5px rgb(61, 51, 51);
    -moz-box-shadow: -2px 0px 5px 5px rgb(61, 51, 51);
    -webkit-box-shadow: -2px 0px 5px 5px rgb(61, 51, 51);
    overflow: hidden;
}


.firstArticle-child-revers .text-articl{
    color: cornflowerblue;
    font-size: 27px;
}
.firstArticle-zon .text-articl{
    color: cornflowerblue;
    font-size: 27px;
}


/*jumbotron*/
.jumbCont{
    flex-wrap: wrap;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-top: 30px;
}

#titre-g{
    color: cadetblue;
    text-align: center;
    margin: auto;
    font-size: 60px;
    font-weight: bold;


}
.lox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
h4{
    font-size: 15px;
}

 /*la page boutique*/
.card-header{
    font-family: 'Oswald', sans-serif;
    color: black;
    background-color:#C8D4E4;
}
.detailproduiImage{
    display: block;
    width: 100%;
    height: 200px;
}

/*Home page the third article that containe 3 pictures whith text*/
.canister{
  
  background-image: url("../image/masque.jpg");/*this is my background image in a fixed position*/
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  margin-bottom: 100px;
    
}

.inside-canister{
 
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;  
     flex-wrap: wrap;
}

.canister-child{
    display: flex;
    flex-direction: column;/*display my container as column*/
    padding-top: 20px;
    width: 60%;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.canister-picture{
     height: 250px;
     width: 300px;
     background-color: darkseagreen;
     border: 5px solid #fff;
     -moz-box-shadow: 8px 8px 12px #aaa; /* I added a box shadow to my pictures*/
     -webkit-box-shadow: 8px 8px 12px #aaa; 
     box-shadow: 8px 8px 12px #555;
     background-color: gray;
     -webkit-filter: grayscale(0) blur(0px);/*filter applies graphical effects like blur or color shift to my pictures*/
     filter: grayscale(0) blur(0px);
     -webkit-transition: all 0.5s ease;
     transition: all 0.5s ease;
     filter: contrast(150%);
 
}

.canister-picture:hover{
    width: 150px; /*I displayed all my images into a square */
    height: 150px;
    border-radius: 50%;  /*then I turned them into a circle */
    -webkit-transform: rotate(360deg); /* here I applied the rotation */
    transform: rotate(360deg);
}

.canister-section{
    font-family: 'Playfair Display', serif;
    text-align: center; 
    color: white;
    -moz-text-shadow: 8px 8px 12px #aaa; /*I added a light shadow to my text*/
    -webkit-text-shadow: 8px 8px 12px #aaa; 
    text-shadow: 8px 8px 12px rgb(245, 206, 206);
   
  
}

/*le popup code*/
.contact{
    background-color: #022E40;
    color: white;
    border: none;
    cursor: pointer;
}
.contact:hover{
    border: none;
}

.overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    display: none;
    
}

.popup{
    margin: 10% auto;
    width: 90%;
    height: 60%; 
    border-radius: 5px;
    box-shadow: 15px 20px 0 rgba(0, 0, 0, 0.699);
    padding: 20px;
   /* background-image: linear-gradient(rgba(3, 12, 48, 0.774), rgba(19, 19, 7, 0.582)),
    url("../image/fashion-girl-person-903702.jpg");*/
    background-color: cadetblue;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.titre-popup{
    color: white;
    text-align: center;
}

.btnClose{
    float: right;
    cursor: pointer;
    color: white;
    text-align: center;
    
}




/*The footer CSS*/


/*the linear-gradient()function creates an image consisting of a progressive
transition between two or more colors along a straight line*/
.footer{  
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(to top, rgba(73, 99, 105, 0.733), rgba(5, 20, 22, 0.993)),url("../image/vr-3559840_1920.jpg");
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    background-size: cover;
    background-position: center;
    padding:0;
   
}




/*The display: flex; makes the element become a flex container 
and the element's children become a flex item*/
.footer  .footer-contact{
    height: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;   
    
}
.footer-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(73, 99, 105, 0.733);
}
.footer-contact :nth-child(n){
    list-style: none;
    margin-top: 50px;
    font-size: 17px;
}

.footer > ul >.list{
    list-style: none;
    color: white;
    font-size: 17px;
}
/*Display:flex as I said it makes the element become a flex 
container and the flex-direction sets how flex items 
are placed in the flex container, justify-content align items along the main axis, 
the align-items align along the cross axis */


.footer-logo{
    height: 70px;
     width: 70px;
    margin-bottom: 20px;
}
 

.footerTitle{
    color: white;  
}



/*copyright code */
.copyright{
    color: black;
    position: relative;
     top:0px;
     width:100%; 
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    
    margin-top: 0px;
    height: 60px;
}

.copyright a{
    color: black;
}

a:hover {
    text-decoration: underline;
  }



 
 /* Edit product image*/
  .ImmagCart{
      height: 300px;
      width: 300px;
      border: 1px solid #C8D4E4;
  }

  /*modififier les dive immmmmage */
 
 .ensemblediv{
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     
 }
 .ensemblediv :nth-child(n){
     padding: 250px;
     height: 200px;
     width: 200px;
 }




 /*la boutique la page des produits*/



 /*La page d'accuelle les images rondes*/

 .accueil-grancontenu{
     margin-top: 0px;
     padding-top: 20px;
    background-color: rgba(205, 235, 236, 0.288);
 
   
 }
 .accueil-ensembleimage{
    margin: 60px;
     justify-content: center;
     display: flex;
     justify-content: space-evenly;
     flex-direction: row;
     flex-wrap: wrap-reverse;
 }



 .accueil-imageRondGrand{

        padding: 10px;
        background-size : contain;
        background-position : 50% 50%; 
        display : inline-block;
        width : 300px;
        height : 300px;
        border: none;
        -moz-border-radius : 225px;
        -webkit-border-radius : 225px;
        border-radius : 225px;
}
.accueil-text{
    font-family: 'Playfair Display', serif;
    color: white;
    padding-top: 10px;
    font-size: 20px;

}
.accueil-colon{
    font-family: 'Playfair Display', serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #496369;
    border-radius: 3px;
   /* background-color: #C9BCAA;*/
}


/*Apropos de nous page*/

.aboutus{
    display: flex;
    flex-direction: row;
    margin: 100px 20px 0px 20px;
    flex-wrap: wrap;
  
    
    
   
}

#aboutusimage{
    height: 300px;
    width: 450px;
}
.aboutus-text{
 max-width: 700px;

}
.aboutus :nth-child(1){
 text-align: center;
}

.aboutus :nth-child(2){
    font-family: 'Playfair Display', serif;
    padding: 10px 0px 20px 20px;
}
.partners{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#partrners{
    font-family: 'Playfair Display', serif;
    padding-bottom: 40px;
    margin-top: 60px;
    text-align: center;
}
.proto{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.lin{
   border: 2px solid red;
   width: 250px;
}
.proto-colomn{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proto-colomn h4{
    padding-top: 17px;
    font-weight: bold;
}

.rond{

  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.proto-text{
    text-align: center;
}

/*Cart.html.twig*/
#panierTotal{
    margin-top:50px; 
    margin-bottom:200px;
}
.panierTitre{
    font-family: 'Oswald', sans-serif;
    float: right;
}
.imagedePanier{
    font-family: 'Oswald', sans-serif;
    height: 300px; 
    width: 100%;
     display: block; 
}
#produiPrix{
    font-family: 'Oswald', sans-serif;
}
.tableau{
    font-family: 'Oswald', sans-serif;
}

/*paiement.html.twig*/
.paiement{
    margin: 100px;
}

/*register.html.twig*/
.registerRow{
    display: flex;
    flex-direction: row;
}
/*le header de la page admin*/
.backtolist{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;  
}
/*Footer page d'admine*/
.footeradmin{
    width: 100%;
  
}
.listAdmin{
   background-color: #6c757d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}


.listAdmin :nth-child(n){
    font-family: 'Oswald', sans-serif;
    list-style: none;
     padding: 20px;
    font-size: 17px;
}