<div class="imagePnier nave-section">
	<div class="container">
		<h1 id="titlSection">Réalité Virtuelle</h1>
		<button class="btn button" id="contact">Contactez nous</button>
		<!--Le bouton de contacte qui fait appele au poppup-->

		<div id="overlay" class="overlay">
			<div id="popup" class="popup">
				<h2 class="titre-popup">
					Contactez nous<span id="btnClose" class="btnClose">
						&times;</span>
				</h2>

				<ul class="footer-contact">

					<li class="list">
						<i class="icon-p">+33 6 17 32 65 74</i>
					</li>
					<li class="list">
						<a href="mailto:DIMITRI PRIKHODKO–contact@fitimmersion.com">
							<!-- mailto It is used to produce hyperlinks on websites that allow 
															users to send an email to a specific address directly from an HTML document-->
							<i class="icon-e">DIMITRI PRIKHODKO – contact@fitimmersion.com</i>
						</a>

					</li>

					<li class="list">
						<a href="{{asset ('Ionis 361 Montpellier, 3 Place Paul bec, 34000 Montpellier')}}">
							<i class="icon-l">Ionis 361 Montpellier, 3 Place Paul bec, 34000 Montpellier</i>
						</a>
						
					</li>

				</ul>
			</div>
		</div>

	</div>
</div>