{% include "admin/includeHeader.html.twig" %}

{% block body %}
	<div class="container">

	

		<div class="card text-center" style="margin-top:100px">
			<div class="card-header" style="background-color:#C8D4E4;">
				<h4 class="card-title" style="font-weight:bold;">{{produit.titre | raw}}
					-
					{{produit.prix | number_format(2, '.', ',') }}€
				</h3>
			</div>

			<div class="card-body">


				<h4>Détails du produit</h4>
				<p class="card-text">{{ produit.description}}.</p>
				<a href="{{ path('produit_index')}}" class="btn btn-success float-left"> Page des produits
				</a>

				<a href="{{ path ('cart_add', {'id': produit.id}) }}" class="btn btn-success float-right">
					<i class="fas fa-shopping-cart mr-1"></i>
					Ajouter
				</a>

			</div>
		</div>
		<div class="container" style="margin-top:100px">
				<img src="{{ produit.image }}" class="ImmagCart border-0"  alt="image de produit">
			</div>
			</div>
<div>
	{% endblock %}
	{% include "admin/includFooter.html.twig" %}
