<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('êtes vous sure de supprimer ce produit??!');">
	<input type="hidden" name="_method" value="DELETE"/>
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}"/>
	<button class="btn btn-danger">Supprimer</button>

</form>


