{% include "admin/includeHeader.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
	<div class="container">

		<h1>Editer</h1>

		<h1>Modifier le produit</h1>

		{{ include('admin/_form.html.twig', {'button_label': 'Enregistrer'}) }}

	<button class="btn btn-success"><a href="{{ path('admin_index') }}">retourner à la liste</a></button>

		{{ include('admin/_deleteForm.html.twig') }}
	</div>

{% endblock %}



