<footer>
    <div class="footeradmin">
        <ul class="listAdmin">
            <li class="list">
                <i class="icon-p">+33 6 17 32 65 74</i>
            </li>
            <li class="list">
                <a href="mailto:DIMITRI PRIKHODKO–contact@fitimmersion.com">
                    <!-- mailto It is used to produce hyperlinks on websites that allow 
                                                        users to send an email to a specific address directly from an HTML document-->
                    <i class="icon-e">DIMITRI PRIKHODKO – contact@fitimmersion.com</i>
                </a>
            </li>
            <li class="list">
                <a href="{{asset ('Ionis 361 Montpellier, 3 Place Paul bec, 34000 Montpellier')}}">
                    <i class="icon-l">Ionis 361 Montpellier, 3 Place Paul bec, 34000 Montpellier
                    </i>
                </a>
            </li>
        </ul>
    </div>

    <div>

        <div class="copyright">2019 SOUAD TAKI
            RONDELET-Tous les droits sont réservés<br />
            <a href="{{path('mentionlegal_index')}}">Mention légale</a>
        </div>
    </div>
    {% block javascripts %}{% endblock %}
    </body>

    </html>
</footer>