{% include "include/include.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<div class="container">
<div class="paiement">

    <table>

        <td colspan="3" class="text-right tableau">Total à payer : </td>
        <td class="tableau">
            {{ total }} €
        </td>
    </table>
</div>
</div>

{% endblock %}
{% include "admin/includFooter.html.twig" %}